@model Slot
@{
    ViewData["Title"] = Model.Title;
}
<h1>@Model.Title</h1>
<p><strong>@Model.Tegs</strong></p>
<p>@Model.Description</p>
<p>Начальная ставка  <strong>@Model.InitialPrice</strong></p>
<p>Минимальная ставка  <strong>@Model.MinBet</strong></p>
<form action="@Url.Action("AddItem","Order")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-success"type="submit">На аукцион</button>
</form>

