@model OrderModel
@{
    ViewData["Title"] = "Корзина";
}
<h1>Корзина</h1>

<script>
    $(document).ready(function () {
        $('button').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CreateSlot", "Slot")',
                data: { id: 1 },
                success: function (result) {
                    alert('Слот успешно создан!');
                }
            });
        });
    });
</script>
<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Теги</th>
            <th scope="col">Начальная стоймость</th>
            <th scope="col">минимальная ставка</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Items.Length; i++)
        {
            <tr>
                <td class="text-right">@(i+1)</td>
                <td>@Model.Items[i].Title</td>
                <td>@Model.Items[i].Tegs</td>
                <td class="text-right">@Model.Items[i].InitialPrice</td>
                <td class="text-right">@Model.Items[i].MinBet</td>
            </tr>
        }
    </tbody>
</table>
<button>Создать слот</button>