@model OrderModel
@{
    ViewData["Title"] = "Корзина";
}
<h1>Корзина</h1>

<table class="table table-sm table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Название</th>
            <th scope="col">Теги</th>
            <th scope="col">Начальная стоймость</th>
            <th scope="col">минимальная ставка</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Items.Length; i++)
            {
        <tr>
            <td class="text-right">@(i+1)</td>
            <td>@Model.Items[i].Title</td>
            <td>@Model.Items[i].Tegs</td>
            <td class="text-right">@Model.Items[i].InitialPrice</td>
            <td class="text-right">@Model.Items[i].MinBet</td>
        </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"> Итого</td>
            <td colspan="3" class="text-right">Товаров @Model.TotalCount</td>
            <td colspan="3" class="text-right">На сумму @Model.TotalPrice</td>
        </tr>
    </tfoot>
</table>